!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to BuildingBlockz, #{@user.first_name}
    %p
      You have successfully signed up to Buildingblockz,
      %br/
      your password is: #{@user.password}.
      %br/
    %p Thanks for joining and have a great day!
